@media (max-width: 45em) {
    body {
        display: block;
        background-color: white;
    }

    main {
        width: 375px;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }

    #msg {
        height: 7rem;
    }

    #thanks {
        padding: .7rem;
        width: 375px;
        top: auto;
        bottom: 0;
        transform: translateY(100%);
    }
}