#thanks {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-100%);
    width: 660px;
    display: flex;
    justify-content: center;
    /* display: none; */
}

#thanks section {
    background-color: hsl(187, 24%, 22%);
    padding: 1.5rem;
    border-radius: 12px;
    color: white;
    width: fit-content;
}

#thanks div {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: .6rem;
}

#thanks h2 {
    font-size: 1rem;
}

#thanks p {
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.9);
}