* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(148, 38%, 91%);
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-family: Karla;
}

main {
    position: relative;
    background-color: white;
    width: 660px;
    padding: 1.5rem;
}

h1 {
    font-size: 1.7rem;
    color: hsl(187, 24%, 22%);
    margin-bottom: 1.5rem;
}

.required {
    color: hsl(169, 82%, 27%);
    margin: 0rem .15rem;
    font-weight: 700;
    font-size: .9rem;
}